# This is the main configuration file for the application.
# ~~~~~

### Our custom Twitch properties ###
### Get your OAuth from https://twitchapps.com/tmi/ using your bots credentials ###
twitch.admin="yourUsername"
twitch.login="yourBotsName"
twitch.oauth="oauth:someoauth"
twitch.users="list,of,comma,seperated,users"
